page-other {

}

.text{
    margin: 10 auto;
    color: #000;
    font-size: 120%;
    font-weight: 200;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 3px;
    text-align: justify;
}